<div class="lrc-controller">
    <div class="lrc-playmode">
        <span class="glyphicon glyphicon-magnet lrc-controller-on" aria-hidden="true" lyric_auto></span>
        <span class="glyphicon glyphicon-hand-down" aria-hidden="true" lyric_man></span>
    </div>|
    <span class="glyphicon glyphicon-trash" aria-hidden="true" lyric_del_trans_tip></span>|
    <span class="glyphicon glyphicon-record" aria-hidden="true" lyric_record></span>
</div>
<div class="lrc-wrapper-bg"></div>
<div class='lrc-container' lyric lyc_src='<%=lyricSrc %>'></div>
</div>


<script src="/modules/lyric/lyric.js"></script>
<script src="/modules/lyric/lyric_controller.js"></script>
<script src="/modules/lyric/lyric_dict.js"></script>
<script src="/scripts/page/partials-lyric.js"></script>