<div class="panel panel-default">
    <ul class="list-group" style="text-align:center;">
        <li class="list-group-item">
            <img src="images/S01E01.png" width="240" height="240" alt="sp_s01e01.png">
        </li>
        <li class="list-group-item">
            <b>S01E01.The One Where It AII Began</b><br>
            <span style="font-size:12px;">Friends (TV Series 1994–2004)</span>
        </li>
        <li class="list-group-item" style="font-size:20px;">
            <div class="row controller">
                <div class="col-xs-3"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></div>
                <div class="col-xs-3"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></div>
                <div class="col-xs-3"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></div>
                <div class="col-xs-3"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></div>
            </div>
        </li>
    </ul>
    <div class="panel-body">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6"><span style="font-size:15px;color:gray;"><span id='curTime'>00:00</span> / 29:40</span>
            </div>
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-new-window" aria-hidden="true" style="float:right"></span>
                <span class="glyphicon glyphicon-new-eye-open" aria-hidden="true" style="float:right"></span>
            </div>
        </div>
    </div>
</div>