<div class="panel panel-primary">
    <div class="panel-heading">
    <h3 class="panel-title">Friends (TV Series 1994–2004)</h3>
    </div>
    <div class="panel-body">
    <ul class="list-group">
        <li class="list-group-item track">
        <div style=""><%= title%></div>
        <span class="badge">22'15</span>
        </li>
    </ul>
    </div>
</div>