<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Live input record and playback</title>
  <script src="/scripts/jquery.min.js"></script>
  <script src="/modules/lyric/lyric.js"></script>
  <script src="/modules/lyric/lyric_controller.js"></script>
  <script src="/modules/lyric/lyric_dict.js"></script>
  <link rel="stylesheet" href="/modules/lyric/lyric.css">
  <style type='text/css'>

  </style>
</head>

<body>
  <input type=button id="btn">
  <div class='lrc-container' lyric lyc_src='lyrics/Friends.S01E01.srt'></div>
  <script>
      var i = 1;
  var host = $('[lyric]').makeLyric();
  var ctrl = new lyric_controller(host);
  var dict = new lyric_dict(host, ctrl);
  host.on('scroll', function(e){
    console.log('scroll');
  });
  $('#btn').click(function(){
    u();
  });

  function u(){
    
    ctrl.update(i++);
    setTimeout(u, 50);
  }
</script>
</body>

</html>