<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<button id='start'>Start</button>
<button id='stop'>Stop</button>
<button id='export'>Export</button>

<!--<div class='outer'>TEstldkjfgldsjflkdsjfkldsjflksTEstldkjfgldsjflkdsjfkldsjflksTEstldkjfgldsjflkdsjfkldsjflksTEstldkjfgldsjflkdsjfkldsjflks</div>-->
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 51.9515%;">
  </div>
</div>
<div class="outer">
  <div class="progress-wrapper" style="height:20px;float:left;">
    TEstldkjfgldsjflkdsjfkldsjflksTEstldkjf
    <div class="progress-mask" style="height: 100%; background-color: rgba(255, 0, 0, 0.2);float:left;width:50%"></div>
  </div>
</div>



    <script>

$('.start').click(function(){

});

  var isstop = false;
  $('#stop').click(function(){
    isstop = true;
  });
$('#start').click(function(){
  isstop = false;

  var target = $('.outer');

  var div1 = $('<div class="progress-wrapper">');
  var div2 = $('<div class="progress-mask">');
  var h = target.height();
  var w = target.width();
  div1.html(target.html());
  div1.append(div2);
  target.html('');
  target.append(div1);

   div1.css('position', 'relative');
   div1.css('overflow', 'visible');
  div2.css('right', '0px');
  div2.css('top','0px');
  div2.css('position','absolute');

    div2.css('width', '100%');
    div2.css('height', '100%');
    div2.css('background-color', 'rgba(255,0,0,0.2)');
  cycleReduceW(100);

  function cycleReduceW(widthPer){
    if(widthPer<0) return;
    if(!isstop){
    $('.progress-mask').css('width', widthPer + '%');
      setTimeout(function(){
        cycleReduceW(widthPer -1);
  }, 100);}
}
});


</script>
    <style>
      body {
        padding: 0;
        margin: 0;
      }
    </style>