<video autoplay controls></video>
<img src="">

<canvas></canvas>
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/recorder.js"></script>
<button id='start'>Start</button>
<button id='stop'>Stop</button>
<script>
  $('#start').click(function()
  {
  recorder.start();
  });
  $('#stop').click(function()
  {
    recorder.stop();
    recorder.download();
  });

  // var video = document.querySelector('video');
  // var canvas = document.querySelector('canvas');
  // var ctx = canvas.getContext('2d');
  // var localMediaStream = null;

  // function snapshot() {
  //   if (localMediaStream) {
  //     ctx.drawImage(video, 0, 0);
  //     // "image/webp" works in Chrome.
  //     // Other browsers will fall back to image/png.
  //     document.querySelector('img').src = canvas.toDataURL('image/webp');
  //   }
  // }

  // video.addEventListener('click', snapshot, false);

  // // Not showing vendor prefixes or code that works cross-browser.
  // navigator.webkitGetUserMedia ({audio:true}, function(stream) {
  //   video.src = window.URL.createObjectURL(stream);
  //   localMediaStream = stream;
  // }, function(err){});

</script>