
<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/myrecorder.js"></script>
<button id='start'>Start</button>
<button id='stop'>Stop</button>
<button id='export'>Export</button>
<script>
  myrecorder.init();

  $('#start').click(function()
  {
myrecorder.start();
  });

  $('#stop').click(function(){
myrecorder.stop();
  });

  $('#export').click(function(){
    // var oneBuf = new Float32Array(totalLen);
    // var offset = 0;
    // for(var i=0;i<buf.length;++i){
    //   oneBuf.set(buf[i], offset);
    //   offset += buf[i].length;
    // }
    
    // var encodedBuf = encodeWAV(oneBuf);
    // var blob = new Blob([encodedBuf], {type:'audio/wav'});
    // console.log(encodedBuf);
    
    var url = URL.createObjectURL(myrecorder.getWAVBlob());
    var hf = document.createElement('a');
    hf.download = new Date().toISOString() + '.wav';
    hf.innerHTML = hf.download;
    hf.href = url;
    $('body').append(hf);
  });
</script>