.sidebar
{
    font-size: 10px;
}

.lrc-wrapper-bg
{
    opacity:0.1;
    width:100%;
    height:464px;
    background:black;
    margin-left:0px;
    margin-bottom: 5px;
}

.lrc-container
{
    position:relative;
    margin-top:-444px;
    display: block;
    width:80%;
    color:#fff;
    margin-left: 28px;
    font:14px/20px 'microsoft yahei', Helvetica, Arial, 宋体, sans-serif;
}

.controller span:hover
{
    border: 1px solid grey;
}

.track div
{
    width:160px;
    white-space:nowrap;
    overflow:hidden;
}

.track .badge
{
    margin-top: -17px;
}

@media (min-width: 992px) 
{
    body
    {
        overflow-x: scroll;    
    }
    
    .lrc-wrapper-bg
    {
        margin-left:-28px;
    }
    
    .lrc-container
    {
        margin-left: 0px;
    }
    
    .sidebar
    {
        width:300px;
    }
    
    .player
    {
        width:350px;
    }
    
    .lyric
    {
        max-width:550px;
    }
}